{% extends '_base.html' %}

{% block content %}

<h2> Supernets </h2>
{% if supernets_list %}
  <table class="table table-striped">
   <th>ID</th>
   <th>Prefix</th>
   <th>Region</th>
{%  for supernet in supernets_list %}
   <tr>
    <td>{{ supernet.id }}</td>
    <td><a href="/ipam/supernet/id/{{ supernet.id }}/">{{ supernet.address_space }}</a></td>
    <td>{{ supernet.region }}</td>
   </tr>
{%  endfor %}
  </table>
{% else %}
  <p>No Supernets have been defined</p>
{% endif %}

<h2> Subnets </h2>

{% if subnets_list %}
  <ul>
{%  for subnet in subnets_list %}
    <li><a href="/ipam/subnet/id/{{ subnet.id }}/">{{ subnet.address_space }}</a></li>
{%  endfor %}
  </ul>
{% else %}
  <p>No Subnets have been defined</p>
{% endif %}
{% endblock %}
