{% extends '_base.html' %}

{% block content %}
{% if supernet %}
<h1> {{ supernet.address_space }} </h1>

<a href="/ipam/subnet/new/"><button type="button" class="btn btn-info">New Subnet</button></a>
<a href="/ipam/supernet/edit/{{ supernet.id }}/"><button type="button" class="btn btn-warning">Edit</button></a>
<a href="/ipam/supernet/delete/{{ supernet.id }}/"><button type="button" class="btn btn-danger">Delete</button></a>

{%  if supernet.region %}
<p></p>
<table class="table table-striped">
 <th>Region</th>
 <tr class="info">
  <td class="active">{{ supernet.region }}</td>
 </tr>
</table>
{%  endif %}
{% endif %}
{% endblock %}
