<!DOCTYPE html>
<html lang="en">
  <head>
    <title>IP Address Management</title>
    {% load bootstrap3 %}
    {% bootstrap_css %}
  </head>
  <style>
   body { padding-top: 70px; }
  </style>
  <body>
   <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
     <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
       <span class="sr-only">Toggle navigation</span>
       <span class="icon-bar"></span>
       <span class="icon-bar"></span>
       <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">IP Address Management</a>
     </div> 
     <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
       <li class="active"><a href="/ipam/">Home</a></li>
       <li class="active"><a href="/ipam/supernet/new/">Add Supernet</a></li>
      </ul>
      </div>
     </div>
    </div>
   </nav>
  <p></p>
  {% if messages %}
  {%   bootstrap_messages %}
  {% endif %}
  {% block content %}{% endblock %}
{% bootstrap_javascript %}
  </body>
</html>
